[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
cufflinks = "*"

[dev-packages]
jupyter = "*"
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
nb-clean = "*"

[requires]
python_version = "3.6"
