[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"  # includes numpy
pandas = "*"
scikit-learn = "*"
plotly = "*"
cufflinks = "*"  # inject plotly into pandas

[dev-packages]
jupyter = "*"  # includes ipython kernel
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
nb-clean = "*"  # clears output and removes line numbers (use before merge to master)

[requires]
python_version = "3.6"
